# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\EGLC\scenario_runner-0.9.10\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
